#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        row-gpios = 
            <&gpio0 4  GPIO_PULL_DOWN>,  /* ROW1: P0.04 (AIN2) */
            <&gpio0 12 GPIO_PULL_DOWN>,  /* ROW2: P0.12 */
            <&gpio0 7  GPIO_PULL_DOWN>;  /* ROW3: P0.07 */

        col-gpios = 
            <&gpio0 8  GPIO_ACTIVE_LOW>,  /* COL1: P0.08 */
            <&gpio0 6  GPIO_ACTIVE_LOW>,  /* COL2: P0.06 */
            <&gpio0 26 GPIO_ACTIVE_LOW>;  /* COL3: P0.26 */
    };

    encoder0: encoder {
        compatible = "zmk,encoder";
        a-gpios = <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        resolution = <4>;
    };

    encoder_button: encoder_button {
        compatible = "zmk,behavior-button";
        gpios = <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};
