if SHIELD_ASHOK_MACROPAD

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Ashok Macropad"

# Enable encoder support
config EC11
    default y

# Enable display support
config ZMK_DISPLAY
    default y

config I2C
    default y

config SSD1306
    default y

config LVGL
    default y if ZMK_DISPLAY

endif